In [7]:
# import mysql.connector as sql
#%pip install pymysql
%pip install sshtunnel
from sshtunnel import SSHTunnelForwarder, create_logger
import sshtunnel
import paramiko
from paramiko import SSHClient
from os.path import expanduser


remote_user = 'root'
remote_password = 'qz!813_gg1'
remote_host = '192.168.10.10'
remote_port = 22
local_host = '127.0.0.1'
local_port = 5001

import sshtunnel

import pandas as pd
import pymysql.cursors

def queryR(q):
    try:
        server = SSHTunnelForwarder(
       ('185.201.47.35', 22),
       ssh_username=remote_user,
       ssh_password=remote_password,
       remote_bind_address=('185.201.47.35', 3306),
       local_bind_address=('127.0.0.1', 3306),    
        #logger=create_logger(loglevel=1)
       )

        server.start()
        connection = pymysql.connect(host='127.0.0.1',
                                 port=server.local_bind_port,
                                 user='root_test',
                                 password='Vi6o55pgr%',
                                 db='nitrat2',
                                 cursorclass=pymysql.cursors.DictCursor)
        tmp = pd.read_sql(q, con=connection)    
        server.stop()
        return tmp
    except:
        server.stop()

Collecting sshtunnel
  Downloading https://files.pythonhosted.org/packages/c5/5c/4b320d7ec4b0d5d4d6df1fdf66a5799625b3623d0ce4efe81719c6f8dfb3/sshtunnel-0.1.5.tar.gz (49kB)
     |████████████████████████████████| 51kB 1.6MB/s
Collecting paramiko>=1.15.2
  Downloading https://files.pythonhosted.org/packages/95/19/124e9287b43e6ff3ebb9cdea3e5e8e88475a873c05ccdf8b7e20d2c4201e/paramiko-2.7.2-py2.py3-none-any.whl (206kB)
     |████████████████████████████████| 215kB 7.5MB/s
Collecting pynacl>=1.0.1
  Downloading https://files.pythonhosted.org/packages/9d/57/2f5e6226a674b2bcb6db531e8b383079b678df5b10cdaa610d6cf20d77ba/PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961kB)
     |████████████████████████████████| 962kB 47.5MB/s
Collecting cryptography>=2.5
  Downloading https://files.pythonhosted.org/packages/c0/9c/647e559a6e8be493dc2a7a5d15d26cb501ca60ec299b356f23839a673a83/cryptography-3.1-cp35-abi3-manylinux2010_x86_64.whl (2.6MB)
     |████████████████████████████████| 2.6MB 46.6MB/s
Collecting bcrypt>=3.1.3
  Downloading https://files.pythonhosted.org/packages/26/70/6d218afbe4c73538053c1016dd631e8f25fffc10cd01f5c272d7acf3c03d/bcrypt-3.2.0-cp36-abi3-manylinux2010_x86_64.whl (63kB)
     |████████████████████████████████| 71kB 9.6MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pynacl>=1.0.1->paramiko>=1.15.2->sshtunnel) (1.15.0)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from pynacl>=1.0.1->paramiko>=1.15.2->sshtunnel) (1.14.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi>=1.4.1->pynacl>=1.0.1->paramiko>=1.15.2->sshtunnel) (2.20)
Building wheels for collected packages: sshtunnel
  Building wheel for sshtunnel (setup.py) ... done
  Created wheel for sshtunnel: filename=sshtunnel-0.1.5-py2.py3-none-any.whl size=23244 sha256=1b1d99c3e15c3dbb1634d4cdf7b0a7b8d0afad06252bc9eb1bfc502de3b27202
  Stored in directory: /root/.cache/pip/wheels/e8/d2/38/b9791b7391f634099194ec6697fa671194f3353906d94c8f92
Successfully built sshtunnel
Installing collected packages: pynacl, cryptography, bcrypt, paramiko, sshtunnel
Successfully installed bcrypt-3.2.0 cryptography-3.1 paramiko-2.7.2 pynacl-1.4.0 sshtunnel-0.1.5

In [8]:
df = queryR("show tables")

In [9]:
df.head()

  Tables_in_nitrat2
0      NutrientType
1             acids
2       alias_units
3  categories_limit
4          category